/* CSS cho nút kích thước ngang */
.size-buttons button {
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

/* Đổi màu nền của nút khi người dùng chọn */
.size-buttons button:active {
  background-color: #0056b3;
  
}

/* Đổi màu chữ của nút khi người dùng chọn */
.size-buttons button:focus {
  color: #f00; /* Màu đỏ cho chữ */
  background-color: white;
  /* border: #1e7e34; */
}

/* CSS cho nút Bình luận */
.review-form button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Đổi màu nền của nút khi người dùng chọn */
.review-form button:active {
  background-color: #1e7e34;
}

.product-colors {
  margin-top: 20px;
}

.color-buttons {
  display: flex;
  gap: 10px;
}

.color-button {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.color-button.active {
  border: 2px solid #000;
}
.quantity {
 display:flex;
}

/* Thêm transition cho thuộc tính opacity và transform */
.single-prd-item img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.single-prd-item img:hover {
  opacity: 0.7; /* Độ mờ khi hover */
  transform: scale(1.1); /* Phóng to hình ảnh khi hover */
}